app-materials-list {
  position: absolute;
  top: 0;
  right: 0;
}
.demo-table {
  width: 50%;
  max-width: 500px;
}
.table-container {
  display: flex;
  justify-content: center;
  overflow: auto;
}
